.article
  .well
    %table.table.table-responsive
      %tr
        %th Date Of Birth
        %td= profile.date_of_birth
      %tr
        %th Gender
        %td= profile.gender
      %tr
        %th Location
        %td= profile.location
      %tr
        %th Email
        %td= profile.user.email
      %tr
        %th Languages
        %td= profile.languages
      %tr
        %th Interest
        %td= profile.interest
      %tr
        %th Favorite Movies
        %td= profile.favorite_movies
      %tr
        %th Favorite Music
        %td= profile.favorite_music
      %tr
        %th Favorite Qoutes
        %td= profile.favorite_qoutes
      %tr
        %th Bio
        %td= profile.bio
